.main-header {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;

    a{
        cursor: pointer;
    }

}

.logo {
    li {
        height: 4rem;

        img {
            height: 4rem;
        }
    }
}

.navbar {
    padding: 1rem 0 1rem 0;
    ul {
        display: flex;

        li {
            margin-left: 1rem;
        }
    }
}