*{
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    a{
        all: unset;
        text-decoration: none; /* no underline */

    }

}

*{
    
    // outline: 0.5px solid red !important;
    font-family: General-Font;

    // font-family: General-Font;
}

body{
    // background-color: var(--backgroundColor);
    // background-color: var(--secondaryColor);

    color: var(--fontColor);
}

.vh-80{
    height: 80vh

}

.sign-btn{
    margin-top: 5rem;
    background-color: var(--secondaryColor);
}
.sign-btn-oposite{
    background-color: white !important;
    color: var(--secondaryColor) !important;
    // margin: 0.5rem !important;

}

.titleText{
    border-bottom: 1px solid rgb(221, 221, 221);

}