*{
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

*{
    
    outline: 0.5px solid red !important;
}

body{
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}